<template>
  <div class="container">
    <h1>{{tr('extName')}}</h1>
    <ul class="buttons">
      <li v-for="button in buttons" :key="button.key"  @click="button.click()">{{button.name}}</li>
    </ul>
  </div>
</template>
<script>
import translate from '../mixins/translate.vue'
export default {
  // TODO: Add specific parsers
  mixins: [translate],
  data () {
    return {
      buttons: [
        {
          'key': 'options',
          'click': this.optionsClick,
          'name': this.tr('Options')
        },
        {
          'key': 'runHere',
          'click': this.runHere,
          'name': this.tr('Run on This page')
        }
      ]
    }
  },
  computed: { },
  created () { },
  mounted () { },
  methods: {
    handleClick (btn) {
      if (btn.click === 'optionsClick') {
        this.optionsClick()
      } else if (btn.click === 'runHere') {
        this.runHere()
      }
    },
    runHere () {
      chrome.tabs.query({currentWindow: true, active: true}, function (tabs) {
        var activeTab = tabs[0]
        chrome.tabs.sendMessage(activeTab.id, {'parse': true})
      })
    },
    optionsClick () {
      chrome.tabs.create({ url: 'pages/options.html' })
    }
  }
}
</script>
<style lang="scss" scoped>
  div.container {
    min-width: 150px;
    h1 {
      white-space: nowrap;
    }
    ul.buttons {
      margin: 0px;
      padding: 0px;
      li {
        margin: 0px 0px 15px 0px;
        padding: 5px 10px;
        text-align: center;
        transition: background-color .3s;
        border-radius: 5px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0px;
        }
        &:hover {
          background: rgba(0, 0, 255, 0.2);
        }
      }
    }
  }
</style>