<template>
  <div class="container">
    <h1>{{tr('Log Viewer Settings')}}</h1>
    <ul class="basic-settings">
      <li v-for="option in availableOptions" :key="option.key">
        <label>
          <span class="the-label">{{option.name}}</span>
          <span class="the-value">
            <input v-if="!option.type || inputFieldTypes.indexOf(option.type) !== -1" :type="option.type || 'string'" v-model="options[option.key]" />
          </span>
          <p v-if="option.description">{{option.description}}</p>
        </label>
      </li>
    </ul>
    <ul class="available-parser-configs">
    </ul>
  </div>
</template>
<script>
// import storage from '../ext/storage.js'
import translate from '../mixins/translate.vue'
export default {
  mixins: [translate],
  data () {
    let availableOptions = [
      {
        'type': 'text',
        'name': this.tr('Clear Script path'),
        'key': 'clear_script_path',
        'description': this.tr('Specify the path to the clear script, which is able to delete the specified items from the log'),
        'default': '/bin/nest/clean_errors.php'
      },
      {
        'type': 'text',
        'name': this.tr('Clear script Combined Keys Param'),
        'key': 'clear_script_include',
        'description': this.tr('Specify the argument to send to the clear script when multiple texts needs to be found in one log item (when using combined keys)'),
        'default': '--include='
      }
    ]
    return {
      'options': this.optionsDefault(availableOptions),
      'inputFieldTypes': ['text', 'hidden', 'number', 'date', 'email'],
      'availableOptions': availableOptions
    }
  },
  watch: {
    options: {
      handler: (val) => {
        chrome.storage.sync.set({'com.letynsoft.logParser.options': val})
      },
      deep: true
    }
  },
  created () {
    document.title = this.tr('Log Viewer Settings')
    chrome.storage.sync.get(['com.letynsoft.logParser.options'], (vals) => {
      let opts = vals['com.letynsoft.logParser.options']
      for (let i in opts) {
        this.$set(this.options, i, opts[i])
      }
    })
  },
  methods: {
    optionsDefault (opts) {
      var out = {}
      for (let i in opts) {
        out[opts[i]['key']] = opts[i]['default']
      }
      return out
    }
  }
}
</script>
<style lang="scss">
div.container {
  ul.basic-settings {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      label {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        span {
          display: inline-block;
          &.the-label {
            min-width: 15%;
          }
          &.the-value {
            flex-grow: 1;
          }
          input {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px;
          }
        }
        p {
          width: 100%;
          flex-shrink: 0;
          flex-grow: 0;
          font-style: italic;
        }
      }
    }
  }
}
</style>
