<template>
  <div class="chart">
    <svg :width="xAxis.length * xAxisMultiplier" :height="yAxisHeight" :viewBox="'0 0 '+(xAxis.length * xAxisMultiplier)+' '+yAxisHeight">
      <polyline fill="none" stroke="currentColor" :points="getPoints" stroke-width="2" stroke-linejoin="round"></polyline>
    </svg>
    <!-- div v-for="(value, index) in xAxis" class="chartBar" :key="index" :style="barStyle(index, value)" :title="value.date.getFullYear() + '-' + (value.date.getMonth() + 1) + '-' + value.date.getDate() + (type==='hourly'? ' ' + value.date.getHours()+':00' : '') + ' : ' + value.count"></div -->
  </div>
</template>

<script>
export default {
  props: {
    width: {required: true, type: Number},
    height: {type: Number},
    dates: {required: true},
    minX: {type: Date},
    maxX: {type: Date}
  },
  data () {
    return {
      type: 'daily',
      xAxisMultiplier: 1,
      maxY: 1,
      yAxisHeightDefault: 16,
      minXReal: null,
      maxXReal: null
    }
  },
  computed: {
    getPoints () {
      var result = []
      for (var i = 0; i < this.xAxis.length; i++) {
        result.push((i * this.xAxisMultiplier) + ',' + (this.yAxisHeight - 1 - (this.xAxis[i].count / this.maxY * (this.yAxisHeight - 2))))
      }
      return result.join(' ')
    },
    yAxisHeight () {
      if (this.height) {
        return this.height
      }
      return this.yAxisHeightDefault
    },
    xAxis () {
      if (!this.dates) {
        return []
      }
      var xAxis = []
      var minX = Math.min.apply(null, this.dates)
      if (this.minX) {
        minX = Math.min(this.minX, minX)
      }
      var maxX = Math.max.apply(null, this.dates)
      if (this.maxX) {
        maxX = Math.max(this.maxX, maxX)
      }
      var timeDiff = Math.abs(maxX - minX)
      var diffSeconds = Math.ceil(timeDiff / 1000)
      this.setType(diffSeconds)
      this.setMinXMaxXReal(new Date(minX), new Date(maxX))
      var myDate = new Date(this.minXReal.getTime())
      var stopTime = this.maxXReal.getTime()
      while (myDate.getTime() <= stopTime) {
        xAxis.push({date: new Date(myDate.getTime()), count: 0})
        myDate = this.addStandardInterval(myDate)
      }
      xAxis = this.attachCounts(xAxis, this.dates)
      this.setMaxY(xAxis)
      this.xAxisMultiplier = Math.max(1, Math.floor(this.width / xAxis.length))
      return xAxis
    }
  },
  methods: {
    barStyle (index, value) {
      var result = {}
      result.height = (value.count / this.maxY * 100) + '%'
      result.width = Math.max(1, Math.floor(this.width / this.xAxis.length))
      return result
    },
    attachCounts (xAxis, dates) {
      for (let index = 0; index < dates.length; index++) {
        for (let i2 = xAxis.length - 1; i2 >= 0; i2--) {
          if (xAxis[i2].date.getTime() <= dates[index].getTime()) {
            xAxis[i2].count++
            break
          }
        }
      }
      return xAxis
    },
    setMaxY (xAxis) {
      this.maxY = Math.max(1, Math.max.apply(null, xAxis.map(item => item.count)))
      return this.maxY
    },
    setType (diffSeconds) {
      var diffHours = diffSeconds / 3600
      var diffDays = diffHours / 24
      if (diffHours < this.width) {
        this.type = 'hourly'
      } else if (diffDays < this.width) {
        this.type = 'daily'
      } else if (diffDays / 7 < this.width) {
        this.type = 'weekly'
      } else if (diffDays / 30 < this.width) {
        this.type = 'monthly'
      } else {
        this.type = 'annually'
      }
      return this.type
    },
    setMinXMaxXReal (minX, maxX) {
      var minHours = 0
      var maxHours = 0
      if (this.type === 'hourly') {
        minHours = minX.getHours()
        maxHours = maxX.getHours()
      }
      this.minXReal = new Date(minX.getFullYear(), minX.getMonth(), minX.getDate(), minHours)
      this.maxXReal = new Date(maxX.getFullYear(), maxX.getMonth(), maxX.getDate(), maxHours)

      // console.log('xxxxx', this.minXReal, this.maxXReal, this.type)

      switch (this.type) {
        case 'hourly':
          return
        case 'daily':
          return
        case 'weekly':
          var days = (this.minXReal.getDay() - 1 + 7) % 7
          this.minXReal.setDate(this.minXReal.getDate() - days)
          // var days2 = (7 - this.maxXReal.getDay() + 1) % 7
          // this.maxXReal.setDate(this.maxXReal.getDate() + days2)
          // console.log('this.minXReal', this.minXReal)
          return
        case 'monthly':
          var days3 = (this.minXReal.getDate() - 1)
          this.minXReal.setDate(this.minXReal.getDate() - days3)
          return
        case 'annually':
          var days4 = (this.minXReal.getDate() - 1)
          this.minXReal.setDate(this.minXReal.getDate() - days4)
          this.minXReal.setMonth(0)
          return
        default:
          break
      }
      console.log('alterMinXMaxX for ' + this.type + 'is not finished')
    },
    addStandardInterval (myDate) {
      switch (this.type) {
        case 'hourly':
          myDate.setHours(myDate.getHours() + 1)
          break
        case 'daily':
          myDate.setDate(myDate.getDate() + 1)
          break
        case 'weekly':
          myDate.setDate(myDate.getDate() + 7)
          break
        case 'monthly':
          myDate.setMonth(myDate.getMonth() + 1)
          break
        case 'annually':
          myDate.setMonth(myDate.getMonth() + 12)
          break
        default:
          break
      }
      return myDate
    }
  }
}
</script>
<style>
  .chart{
    /* background-color: yellow; */
    display: inline-block;
    color: blue;
  }
  .chartBar{
    width: 1px;
    background-color: green;
    display: inline-block;
  }
  .chartBar:hover{
    background-color: darkgreen;
    box-shadow: 0px 0px 2px black;
  }
</style>
