<template>
  <div :class="{'configs': true, 'dragIsOver': dragIsOver, 'showDroppable': showDroppable, 'editor-container': true}" ref="fileform">
    <ul v-if="value !== null">
      <li v-for="name in Object.keys(value)" :key="name" :class="{'edit': name !== 'default' && name === selectedConfig && showEdit, 'selected-config': selectedConfig === name}" @click="$emit('setSelectedConfig', name)">
        <span>
          {{name}}
          <a v-if="name !== 'default'" @click.stop="toggleEdit(name)">{{tr('rename')}}</a>
          <a @click.stop="exportData(name)">{{tr('export')}}</a>
          <a @click.stop="duplicate(name)">{{tr('clone')}}</a>
          <a @click.stop="remove(name)">{{tr('delete')}}</a>
        </span>
        <input type="text" :ref="'itemname_'+name" @blur="configNameChanged(name)" @keyup.enter="configNameChanged(name)" :value="name" />
      </li>
    </ul>
    <div class="configurables" v-if="currentConfig !== null && typeof currentConfig['group-keys'] !== 'undefined'">
      <draggable :data-title="tr('Available Keys')" :list="searchableKeys.map((item) => item.key)" :options="{group:{name: 'config-keys', pull:'clone', put:true}, sort: false, ghostClass: 'ghost-new-config-key', dragClass: 'drag-config-key'}" element="ul">
        <li v-for="item in searchableKeys" :key="item.key">
          <label>
            {{item.key}}
          </label>
          <a @click="openKeySettings(item)">{{tr('Settings')}}</a>
          <span class="flags-container">
            <span v-if="currentConfig['group-keys'].map(itm => itm.key || itm).indexOf(item.key) !== -1" :title="tr('Used in Group Header')">G</span>
            <span v-if="currentConfig['item-keys'].map(itm => itm.key || itm).indexOf(item.key) !== -1" :title="tr('Used in Item Header')">I</span>
            <span v-if="currentConfig['detail-keys'].map(itm => itm.key || itm).indexOf(item.key) !== -1" :title="tr('Used in Item Details')">D</span>
          </span>
        </li>
      </draggable>
      <draggable :data-title="tr('Group keys')" v-model="currentConfig['group-keys']" :options="{group:{name: 'config-keys',  put:true}, sort: true, ghostClass: 'ghost-new-config-key', dragClass: 'drag-config-key'}" element="ul">
        <li v-for="key in currentConfig['group-keys']" :key="key.key || key" @click="setCurrentCompoundKey(key)" :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(key.key || key) === -1}">
          <label>
            {{key.key || key}}
          </label>
        </li>
        <li class="add-compound-key" @click="newCompoundKey('group-keys')">{{tr('Add new compound Key')}}</li>
      </draggable>
      <draggable :data-title="tr('Item keys')" v-model="currentConfig['item-keys']" :options="{group:{name: 'config-keys', put:true}, sort: true, ghostClass: 'ghost-new-config-key', dragClass: 'drag-config-key'}" element="ul">
        <li v-for="key in currentConfig['item-keys']" :key="key.key || key" @click="setCurrentCompoundKey(key)" :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(key.key || key) === -1}">
          <label>
            {{key.key || key}}
          </label>
        </li>
        <li class="add-compound-key" @click="newCompoundKey('item-keys')">{{tr('Add new compound Key')}}</li>
      </draggable>
      <draggable :data-title="tr('Detail keys')" v-model="currentConfig['detail-keys']" :options="{group:{name: 'config-keys', put:true}, sort: true, ghostClass: 'ghost-new-config-key', dragClass: 'drag-config-key'}" element="ul">
        <li v-for="key in currentConfig['detail-keys']" :key="key.key || key" @click="setCurrentCompoundKey(key)" :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(key.key || key) === -1}">
          <label>
            {{key.key || key}}
          </label>
        </li>
        <li class="add-compound-key" @click="newCompoundKey('detail-keys')">{{tr('Add new compound Key')}}</li>
      </draggable>
    </div>
    <modal v-if="typeof currentCompoundKey === 'object' && currentCompoundKey" @close="currentCompoundKey = null" @cancel="currentCompoundKey = null">
      <template slot="header">
        {{currentCompoundKey.name || tr('New compound key')}}
      </template>
      <template slot="body">
        <ul>
          <li>
            <label>
              {{tr('Name')}}
              <input type="text" :value="currentCompoundKey.key" @blur="$set(currentCompoundKey, 'key', $refs.currentCompoundKeyName.value)" ref="currentCompoundKeyName" />
            </label>
          </li>
          <li>
            <label>
              {{tr('Keys')}}
              <select v-for="key in currentCompoundKey.keys" :key="key" :value="key" @change="compoundKeyChange(key, $event)">
                <option :value="undefined">{{tr('select')}}</option>
                <option v-for="item in allSearchables" :key="item.key" :value="item.key">{{item.key}}</option>
              </select>
              <select @change="compoundKeyAdd" ref="addNewCompoundKey">
                <option :value="undefined">{{tr('select aditional')}}</option>
                <option v-for="item in allSearchables" :key="item.key" :value="item.key">{{item.key}}</option>
              </select>
            </label>
          </li>
          <li v-if="!!currentCompoundKey.regexp || !!currentCompoundKey.regexpTo">
            <label>
              {{tr('Regular Expression')}}
              <input type="text" v-model="currentCompoundKey.regexp" :placeholder="tr('Regular Expression')" />
              <input type="text" v-model="currentCompoundKey.regexpTo" :placeholder="tr('Replace To (eg. $1)')" />
              <input type="text" v-model="currentCompoundKey.regexpFlags" :placeholder="tr('Flags')" />
            </label>
          </li>
          <li>
            <label>
              {{tr('Replacements')}}
              <ul>
                <li v-for="(item, i) in currentCompoundKey.replacements" :key="i">
                  <input type="text" v-model="item.regexp" :placeholder="tr('Regular Expression')" :title="tr('Regular Expression')" />
                  <input type="text" v-model="item.regexpTo" :placeholder="tr('Replace To (eg. $1)')" :title="tr('Replace To (eg. $1)')" />
                  <input type="text" v-model="item.regexpFlags" :placeholder="tr('Flags')" :title="tr('Flags')" />
                  <a @click.stop="currentCompoundKey.replacements.splice(i, 1)">- remove</a>
                </li>
                <li @click.stop="pushReplacement()">+ Add new</li>
              </ul>
            </label>
          </li>
        </ul>
      </template>
    </modal>
    <modal v-if="currentKey" @close="currentKey = null" @cancel="currentKey = null">
      <template slot="header">
        {{currentKey.key}}
      </template>
      <template slot="body">
        <ul>
          <li>
            <label>
              {{tr('Filter Type')}}
              <select v-model="currentKey.forceInput">
                <option :value="undefined">{{tr('Default')}}</option>
                <option value="input">{{tr('Input')}}</option>
                <option value="select">{{tr('Dropdown')}}</option>
              </select>
            </label>
          </li>
          <li>
            <label>
              {{tr('Field type')}}
              <select v-model="currentKey.type">
                <option :value="undefined">{{tr('Default')}}</option>
                <option value="date">{{tr('Date')}}</option>
                <option value="request_identifier">{{tr('Request Identifier')}}</option>
                <option value="request_error_number">{{tr('Request Error Number')}}</option>
              </select>
            </label>
          </li>
          <li v-if="currentKey.type === 'request_error_number'">
            <label>
              {{tr('The identifier for this field')}}
              <select v-model="currentKey.identifierKey">
                <option :value="undefined">{{tr('-- select --')}}</option>
                <option v-for="item in allSearchables.filter((item) => item.type === 'request_identifier')" :key="item.key">{{item.key}}</option>
              </select>
            </label>
          </li>
          <li v-if="currentKey.type === 'date'">
            <label>
              {{tr('Display Chart')}}
              <label><input type="radio" id="yes" :value="1" v-model="currentKey.displayChart">{{tr('Yes')}}</label>
              <label><input type="radio" id="no" :value="0" v-model="currentKey.displayChart">{{tr('No')}}</label>
            </label>
          </li>
          <li v-if="currentKey.type === 'date'">
            <label>
              {{tr('Date Format')}}
              <select v-model="currentKey.dateFormat">
                <option :value="undefined">{{tr('Auto')}}</option>
                <option value="Y-m-d">Y-m-d</option>
                <option value="d/m/Y">d/m/Y</option>
                <option value="d.m.Y">d.m.Y</option>
              </select>
            </label>
          </li>
        </ul>
      </template>
    </modal>
  </div>
</template>
<script>
import Draggable from 'vuedraggable'
import toggleSlideUpDown from '../mixins/toggle-slide-up-down.vue'
import droppableRegion from '../mixins/droppable-region.vue'
import ModalComponent from './modal.vue'
import translate from '../mixins/translate.vue'
import download from 'downloadjs'
export default {
  mixins: [
    toggleSlideUpDown,
    droppableRegion,
    translate
  ],
  components: {
    'draggable': Draggable,
    'modal': ModalComponent
  },
  props: {
    value: {required: true, type: Object},
    selectedConfig: {required: true, type: String | null},
    allSearchables: {required: true, type: Object | null}
  },
  data () {
    return {
      showEdit: false,
      currentKey: null,
      currentCompoundKey: null
    }
  },
  computed: {
    currentConfig () {
      return typeof this.value[this.selectedConfig] === 'undefined' ? {} : this.value[this.selectedConfig]
    },
    searchableKeys () {
      var arr = this.allSearchables
      arr.sort((a, b) => ('' + a.key).localeCompare(b.key))
      return arr
    }
  },
  methods: {
    setCurrentCompoundKey (key) {
      if (!key.replacements) {
        key.replacements = []
      }
      this.$set(this, 'currentCompoundKey', key)
    },
    pushReplacement () {
      this.currentCompoundKey.replacements.push({
        'regexp': '',
        'regexpTo': '',
        'regexpFlags': ''
      })
    },
    filesDropped (e) {
      for (let i = 0; i < e.dataTransfer.files.length; i++) {
        let reader = new FileReader()
        var newname = e.dataTransfer.files[i].name.replace(/\.json$/, '').replace(/\.keys$/).replace(/-/g, ' ')
        reader.addEventListener('load', (e) => {
          var data = JSON.parse(reader.result)
          if (data['group-keys'] && data['item-keys'] && data['detail-keys']) {
            this.$set(this.value, newname, data)
          }
        })
        reader.readAsText(e.dataTransfer.files[i])
      }
    },
    exportData (name) {
      var obj = Object.assign({}, this.value[name])
      delete obj.items
      download(JSON.stringify(obj, null, 2), name.replace(/[^a-zA-Z0-9]+/g, '-') + '.keys.json', 'text/json')
    },
    newCompoundKey (key) {
      this.currentCompoundKey = {
        'key': 'key',
        'keys': [],
        'replacements': []
      }
      this.value[this.selectedConfig][key].push(this.currentCompoundKey)
    },
    compoundKeyChange (key, e) {
      this.$set(this.currentCompoundKey.keys, this.currentCompoundKey.keys.indexOf(key), e.target.value)
    },
    compoundKeyAdd (newVal) {
      this.currentCompoundKey.keys.push(this.$refs.addNewCompoundKey.value)
      this.$refs.addNewCompoundKey.value = undefined
    },
    openKeySettings (name) {
      this.currentKey = name
    },
    toggleEdit (name) {
      this.showEdit = !this.showEdit
      this.$nextTick(() => {
        this.$refs['itemname_' + name][0].focus()
      })
    },
    remove (name) {
      this.$emit('setSelectedConfig', 'default')
      this.$delete(this.value, name)
    },
    duplicate (oldName) {
      var newName = oldName + ' clone'
      this.$set(this.value, newName, this.value[oldName])
      this.$emit('setSelectedConfig', newName)
    },
    configNameChanged (oldName) {
      var newName = this.$refs['itemname_' + oldName][0].value
      this.showEdit = false
      if (oldName === newName || !this.value[oldName]) {
        return
      }
      this.$set(this.value, newName, this.value[oldName])
      this.$delete(this.value, oldName)
      if (this.selectedConfig === oldName) {
        this.$emit('setSelectedConfig', newName)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
a {
  cursor: pointer;
}
div.editor-container {
  &.showDroppable {
    background: rgba(0, 0, 255, 0.1);
    border: 3px solid rgba(0, 0, 255, 0.5);
  }
  &.dragIsOver {
    background: rgba(0, 0, 255, 0.2);
    border: 3px solid rgba(0, 0, 0, 0.0);
  }
  transition: background .3s, border .3s;
  border: 3px solid rgba(0, 0, 0, 0.0);
  display: flex;
  >ul {
    width: 10%;
    min-width: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      span {
        padding: 5px 10px;
        display: block;
        a {
          cursor: pointer;
        }
      }
      input {
        display: none;
      }
      &.edit {
        span {
          display: none;
        }
        input {
          display: initial;
        }
      }
      &.selected-config {
        background: rgba(0, 0, 0, 0.15);
      }
      @media (prefers-color-scheme: dark) {
        &.selected-config {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
  div.configurables {
    display: flex;
    flex-flow: row nowrap;
    ul {
      list-style-type: none;
      margin: 0px;
      &[data-title]:before {
        display: list-item;
        margin-bottom: 10px;
        content: attr(data-title);
        font-size: 1.5em;
        font-weight: bold;
      }
      li {
        display: flex;
        flex-flow: row nowrap;
        cursor: move;
        >* {
          padding: 5px 10px;
          cursor: move;
        }
        label {
          flex-grow: 1;
        }
        &.ghost-new-config-key {
          background: rgba(0, 0, 0, 0.15);
          height: 1.5em;
        }
        @media (prefers-color-scheme: dark) {
          &.ghost-new-config-key {
            background: rgba(255, 255, 255, 0.15);
          }
        }
        &.keyUsed {
          background: rgba(0, 255, 0, 0.15);
        }
        a {
          cursor: pointer;
          &:hover {
            color: blue;
          }
        }
        .flags-container {
          flex-shrink: 1;
          min-width: 15px;
          text-align: center;
        }
        &.invalid-key {
          text-decoration: line-through;
          background-color: rgba(255, 0, 0, 0.15);
        }
      }
    }
  }
}
</style>


