<template>
  <div class="filter">
    <ul v-if="searchables !== null">
      <li v-for="keyItem in searchables" :key="keyItem.key" class="hover-parent">
        <label :for="'input_'+keyItem.key" class="filter-item-title">{{keyItem.key}}</label>
        <span v-if="showDropdown(keyItem)">
          <div class="hover-items">
            <a class="multiple" href="#" v-if="!Array.isArray(value[keyItem.key])" @click.stop="$set(value, keyItem.key, value[keyItem.key] ? [value[keyItem.key]] : [])">Multiple</a>
          </div>
          <select :id="'input_'+keyItem.key" v-model="value[keyItem.key]" :multiple="Array.isArray(value[keyItem.key])" :ref="keyItem.key">
            <option :value="undefined">{{tr('Any')}}</option>
            <option v-for="item in keyItem.items" :key="item" :value="item">{{item}}</option>
          </select>
        </span>
        <input v-if="!showDropdown(keyItem)" :id="'input_'+keyItem.key" v-model="value[keyItem.key]" type="text" :placeholder="tr('Type in keyword')" />
      </li>
    </ul>
  </div>  
</template>
<script>
import translate from '../mixins/translate.vue'
export default {
  mixins: [
    translate
  ],
  props: {
    searchables: {required: true},
    currentSearchables: {type: Object},
    value: {required: true, type: Object}
  },
  data () {
    return {
      dropdownMaxItems: 50
    }
  },
  methods: {
    showDropdown (item) {
      return item.items.length <= this.dropdownMaxItems && item.key !== 'message' && (typeof item.forceInput === 'undefined' || item.forceInput === 'select')
    }
  }
}
</script>
<style lang="scss" scoped>
div.filter {
  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 10px;
    margin: 0px;
    list-style-type: none;
    li {
      padding: 0px 15px;
      margin: 10px 0px;
      flex-shrink: 1;
      flex-grow: 1;
      min-width: 200px;
      max-width: 375px;
      position: relative;
      label.filter-item-title {
        display: block;
      }
      input, select {
        width: 100%;
      }
      .hover-items {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 15px;
      }
      &:hover {
        .hover-items {
          opacity: 1;
        }
      }
    }
  }
}
</style>
