<template>
  <li :class="{'group': true, 'expanded': showContents, 'has-related-items': hasRelatedItems, 'has-related-items-all': hasAllRelatedItems, 'group-marked': groupIsMarked}">
    <ul @click="toggleContents()" class="heading">
      <li :title="tr('Errors percentage: ') + errorsPercentage + '% - ' + totalSize">{{items.length}}</li>
      <li v-for="key in myConfig" :key="key.key || key" :title="showKeyTitle(details.searchables[key], key)">{{showKey(details.searchables[key.key || key], key.key || key)}}</li>
      <li v-if="minMaxDates.length" class="chartTimesOverview" title="Date Chart"><chart-time-overview v-for="myDates in minMaxDates" :key="'chart'+myDates.key" :height="19" :width="50" class="chartTimeOverview" :dates="items.map(item => dateFromString(item[myDates.key],findDateFormat(myDates.key)))" :minX="myDates.min" :maxX="myDates.max"></chart-time-overview></li>
      <li class="mark-group" @click.stop="$emit('mark-group')">{{tr('Mark Group')}}</li>
    </ul>
    <slide-up-down :active="showContents" ref="slider">
      <transition>
        <ol class="subitems">
          <item-component v-for="item in items.sort(sorting).slice(0, groupLimit)" :key="item.__key__" :item="item" :config="config" @toggleRelated="toggleRelated" :currentRelated="currentRelated"></item-component>
          <li class="more" v-if="groupLimit < items.length" @click="groupLimit += groupLimit">...</li>
        </ol>
      </transition>
    </slide-up-down>
  </li>
</template>
<script>
import ItemComponent from './item-component.vue'
import toggleSlideUpDown from '../mixins/toggle-slide-up-down.vue'
import ChartTimeOverview from './chart-time-overview'
import dateFormatFunctions from '../mixins/date-format-functions.vue'
import humanFileSize from '../mixins/human-file-size.vue'
import translate from '../mixins/translate.vue'
export default {
  mixins: [
    toggleSlideUpDown, dateFormatFunctions, translate, humanFileSize
  ],
  components: {
    'item-component': ItemComponent,
    'chart-time-overview': ChartTimeOverview
  },
  props: {
    config: {required: true, type: Object},
    items: {required: true, type: Array},
    details: {required: true, type: Object},
    groupingKey: {required: true, type: String | Object},
    currentRelated: {type: Array},
    markedItems: {type: Object},
    allSearchables: {type: Array},
    minMaxDates: {},
    errorCount: {type: Number},
    currentRelatedKeys: {type: Array}
  },
  watch: {
    groupLimit () {
      // We need to swap the var so the slider does slide!
      this.$refs.slider.el.style.height = this.$refs.slider.el.scrollHeight + 'px'
      this.$nextTick(() => {
        this.showContents = 1
        this.$nextTick(() => {
          this.showContents = true
        })
      })
    }
  },
  data () {
    return {
      limitIncrease: 10,
      groupLimit: 10,
      sortingKey: this.allSearchables.filter((item) => {
        return item.type === 'date'
      })
    }
  },
  computed: {
    totalSize () {
      return this.humanFileSize(this.items.map((item) => item['__length__']).reduce((agg, item) => agg + item, 0))
    },
    errorsPercentage () {
      let pow = this.items.length / this.errorCount > 0.01 ? 1 : 100
      return Math.round(this.items.length / this.errorCount * 100 * pow) / pow
    },
    myConfig () {
      return this.config['group-keys']
    },
    name () {
      return typeof this.details.searchables[this.groupingKey] === 'undefined' ? this.fallbackName(this.details.searchables) : this.details.searchables[this.groupingKey][0]
    },
    hasRelatedItems () {
      if (!this.currentRelated) {
        return false
      }
      var keys = this.currentRelated.map((related) => related.__key__)
      return this.items.filter((item) => {
        return keys.indexOf(item.__key__) !== -1
      }).length > 0
    },
    hasAllRelatedItems () {
      if (!this.currentRelated) {
        return false
      }
      var keys = this.currentRelated.map((related) => related.__key__)
      return this.items.filter((item) => {
        return keys.indexOf(item.__key__) === -1
      }).length === 0
    },
    groupIsMarked () {
      return this.markedItems && Object.keys(this.markedItems).filter(key => {
        return Object.keys(this.details.searchables[key]).filter(str => this.markedItems[key].indexOf(str) === -1).length > 0
      }).length === 0
    }
  },
  methods: {
    findDateFormat (index) {
      var res = this.allSearchables.find(item => item.key === index)
      if (res) {
        return res.dateFormat
      }
      return ''
    },
    toggleRelated (related) {
      this.$emit('toggleRelated', related)
    },
    sorting (a, b) {
      var ao = this.currentRelated && this.currentRelated.filter(rel => rel.__key__ === a.__key__).length
      var bo = this.currentRelated && this.currentRelated.filter(rel => rel.__key__ === b.__key__).length
      if (ao !== bo) {
        return bo - ao
      } else if (ao === 1) {
        // now try to compare the error count, if it exist
        let countKeys = this.currentRelatedKeys.filter((item) => item.type === 'request_error_number')
        if (countKeys.length === 1) {
          return a[countKeys[0].key] - b[countKeys[0].key]
        }
        console.log('tt', a, b)
      }
      for (var i in this.sortingKey) {
        if (a[this.sortingKey[i].key] !== b[this.sortingKey[i].key]) {
          if (typeof a[this.sortingKey[i].key] === 'string') {
            return b[this.sortingKey[i].key].localeCompare(a[this.sortingKey[i].key])
          } else if (typeof a[this.sortingKey[i].key] === 'number') {
            return b[this.sortingKey[i].key] - a[this.sortingKey[i].key]
          } else if (typeof a[this.sortingKey[i].key] !== 'undefined' && a[this.sortingKey[i].key].compare) {
            return b[this.sortingKey[i].key].compare(a[this.sortingKey[i].key])
          } else {
            return b[this.sortingKey[i].key] > a[this.sortingKey[i].key]
          }
        }
      }
      return a['__key__'] - b['__key__']
    },
    fallbackName (searchables) {
      return searchables[Object.keys(searchables)[0]][0]
    },
    showKey (items, key) {
      return items ? Object.keys(items).map((_item) => {
        var cnt = (this.items.map((item) => {
          return item[key]
        }).filter((subitem) => {
          return subitem === _item
        }).length)
        return [_item, cnt]
      }).sort((b, a) => a[1] - b[1]).map(itm => itm[0]).slice(0, 3).join(', ') : ''
    },
    showKeyTitle (items, key) {
      if (items) {
        var limit = 30
        var str = key + '\n' + Object.keys(items).map((_item) => {
          var cnt = (this.items.map((item) => {
            return item[key]
          }).filter((subitem) => {
            return subitem === _item
          }).length)
          return [_item, cnt]
        }).sort((b, a) => a[1] - b[1]).slice(0, limit).map(itm => itm[0] + ': ' + itm[1]).join('\n')
        if (Object.keys(items).length > limit) {
          str += '\n...'
        }
        return str
      }
      return key.key || key
    }
  }
}
</script>
<style lang="scss" scoped>
  li.group {
    transition: all .3s;
    margin-bottom: 0px;
    &.expanded {
      background-color: rgba(0, 0, 0, 0.10);
      margin-bottom: 10px;
    }
    @media (prefers-color-scheme: dark) {
      &.expanded {
        background-color: rgba(255, 255, 255, 0.10);
      }
    }
    ul.heading {
      padding: 10px 25px;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-flow: row nowrap;
      cursor: pointer;
      transition: background-color .3s;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      @media (prefers-color-scheme: dark) {
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;
        flex-shrink: 1;
        width: 10%;
        padding: 3px 5px;
        &:first-child {
          width: 6ex;
          flex-shrink: 0;
        }
        &:nth-child(2) {
          width: 45%;
          flex-shrink: 0;
          flex-grow: 5;
        }
        &.chartTimesOverview {
          text-overflow: clip;
          flex-grow: 0;
          flex-shrink: 0;
          width: 50px;
        }
        &.mark-group {
          flex-grow: 0;
          flex-shrink: 0;
          width: auto;
        }
      }
    }
    ol {
      li.more {
        transition: background-color .3s;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
        @media (prefers-color-scheme: dark) {
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
    &.has-related-items ul.heading {
      background-color: rgba(0, 255, 0, 0.5);
    }
    &.has-related-items-all ul.heading {
      background-color: green;
      color: white;
    }
    &.group-marked>ul.heading {
      color: grey;
    }
    .chartTimeOverview {
      box-shadow: 0 0 2px #00000099;
      background-color: #0000001c;
      /* height: 1em; */
    }
  }
</style>