<template>
  <li :class="{'has-related': item.__parsed__ && item.__parsed__.related, 'is-related': isRelated}">
    <div @click="toggleContents()" :class="{'heading': true, 'clickable': config['detail-keys'] && config['detail-keys'].length > 0}">
      <div v-if="item.__parsed__ && item.__parsed__.related" @click.stop="$emit('toggleRelated', item.__parsed__.related)" :class="{'related-link': true, 'multiple': Object.keys(item.__parsed__.related).length > 1}">
        {{tr('Related')}}
      </div>
      <div v-for="key in myConfig" :key="key.key || key" :title="key.key || key">{{item[key.key || key]}}</div>
    </div>
    <slide-up-down :active="showContents" ref="slider">
      <div v-for="key in missingKeys" :key="key.key || key" class="detail-contents">{{key.key || key}}: {{item[key.key || key]}}</div>
    </slide-up-down>
  </li>
</template>
<script>
import toggleSlideUpDown from '../mixins/toggle-slide-up-down.vue'
import translate from '../mixins/translate.vue'
export default {
  mixins: [
    toggleSlideUpDown,
    translate
  ],
  props: {
    config: {required: true, type: Object},
    item: {required: true, type: Object},
    currentRelated: {type: Array}
  },
  computed: {
    myConfig () {
      return this.config['item-keys']
    },
    missingKeys () {
      if (!(this.config['item-keys'] && this.config['group-keys'])) {
        return []
      }
      return this.config['detail-keys'].filter((key) => {
        return typeof this.item[key.key || key] !== 'undefined' && this.item[key.key || key].length > 0
      })
    },
    requiresDetails () {
      return this.missingKeys().length > 1
    },
    isRelated () {
      return this.currentRelated.map((item) => item.__key__).indexOf(this.item.__key__) !== -1
    }
  }
}
</script>
<style lang="scss" scoped>
li {
  div.heading {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 1.2em;
    transition: background-color .3s;
    &.clickable {
      cursor: pointer;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    @media (prefers-color-scheme: dark) {
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    >div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-shrink: 0;
      width: 10%;
      flex-grow: 0;
      padding: 3px 5px;
      position: relative;
      &:nth-child(1) {
        flex-shrink: 0;
        flex-grow: 1;
      }
      &.related-link {
        width: 7ex;
        flex-shrink: 0;
        flex-grow: 0;
        & + * {
          flex-shrink: 0;
          flex-grow: 1;
        }
      }
      &.multiple:after {
        content: "M";
        width: 1.5em;
        height: 1.5em;
        border-radius: 0.75em;
        background-color: green;
        line-height: 1.5em;
        text-align: center;
        color: white;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 0.6em;
      }
    }
  }
  div.detail-contents {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 3px 5px;
    transition: background-color .3s;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    @media (prefers-color-scheme: dark) {
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &.is-related>div.heading {
    background-color: green;
    color: white;
  }
}
</style>

