<template>
  <transition name="modal-fade">
    <div class="modal-backdrop" @click="closeOnShadow ? beforeClose('cancel') : null">
      <div @click.stop="" class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            This is the default tile!

          </slot>
          <button
            type="button"
            class="btn-close"
            @click="beforeClose('cancel')"
            aria-label="Close modal"
          >
            x
          </button>
        </header>
        <section v-if="$slots['body']"
          class="modal-body"
          id="modalDescription"
        >
          <slot name="body">
            I'm the default body!
          </slot>
        </section>
        <footer v-if="$slots['footer'] || $slots['save-button']" class="modal-footer">
          <slot v-if="$slots['footer']" name="footer">
            I'm the default footer!

          </slot>
          <button v-if="$slots['save-button']"
            type="button"
            class="btn-green"
            @click="beforeClose('close')"
            aria-label="Close modal"
          >
            <slot name="save-button">
              Save
            </slot>
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  props: {
    closeOnShadow: {default: true}
  },
  mounted () {
    document.addEventListener('keyup', this.close)
  },
  methods: {
    beforeClose (emit) {
      document.removeEventListener('keyup', this.close)
      this.$emit(emit)
    },
    close (e) {
      if (e.keyCode === 27) this.beforeClose('cancel')
    }
  }
}
</script>

<style lang="scss" scoped>
 .modal-fade-enter, .modal-fade-leave-active {
    opacity: 0;
  }
 .modal-backdrop.modal-fade-enter .modal, .modal-backdrop.modal-fade-leave-active .modal {
    left: -150px
  }

  .modal-fade-enter-active, .modal-fade-leave-active, 
  .modal-fade-enter-active .modal, .modal-fade-leave-active .modal {
    transition: all .5s ease
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .modal {
      background: #FFFFFF;
      box-shadow: 2px 2px 20px 1px;
      overflow-x: auto;
      display: flex;
      flex-direction: column;
      min-width: 75%;
      position: relative;
      left: 0px;
      .modal-header,
      .modal-footer {
        padding: 15px;
        display: flex;
      }
      .modal-header {
        border-bottom: 1px solid #eeeeee;
        background-color: #4AAE9B;
        color: white;
        justify-content: space-between;
        padding-right: 50px;
        position: relative;
        .btn-close {
          color: inherit;
          position: absolute;
          appearance: none;
          background: transparent;
          border: 0px solid;
          font-size: 20px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          width: 50px;
          padding: 0px;
          line-height: 50px;
          cursor: pointer;
        }
      }
      .modal-body {
        position: relative;
        padding: 25px 25px;
        max-height: 70vh;
        overflow-y: auto;
      }
      .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
      }
    }
    @media (prefers-color-scheme: dark) {
      .modal {
        background: black;
        color: white;
        .modal-header {
          border-bottom-color: #111;
          color: white;
          background-color: #183b34;
        }
        .modal-footer {
          border-top-color: #111;
        }
      }
    }
  }
  .btn-green {
    cursor: pointer;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>