<template>
  <div :class="{'configs': true, 'dragIsOver': dragIsOver, 'showDroppable': showDroppable, 'editor-container': true}" ref="fileform">
    <ul class="selectable-items" v-if="value !== null">
      <li v-for="item in value" :key="item.name" :class="{'edit': item.name !== 'default' && selectedConfig && item.name === selectedConfig.name && showEdit, 'selected-config': selectedConfig && selectedConfig.name === item.name}" @click="$emit('setSelectedConfig', item.name)">
        <span>
          {{item.name || tr('Default')}}
          <a v-if="item.name !== 'default'" @click.stop="toggleEdit(item.name)">{{tr('rename')}}</a>
          <a @click.stop="exportData(item)">{{tr('export')}}</a>
          <a @click.stop="duplicate(item)">{{tr('clone')}}</a>
          <a @click.stop="remove(item)">{{tr('delete')}}</a>
        </span>
        <input type="text" :ref="'itemname_'+item.name" @blur="configNameChanged(item)" @keyup.enter="configNameChanged(item)" :value="item.name" />
      </li>
    </ul>
    <ul>
      <li v-for="item in allSettings" :key="item.key">
        <label>
          {{item.name}}
          <input v-if="item.key !== 'specific'" type="text" v-model="selectedConfig[item.value]" :placeholder="item.isregex ? tr('Regular Expression') : tr('Key Name')" />
        </label>
        <input v-if="item.isregex" v-model="selectedConfig[item.flags]" type="text" :placeholder="tr('Flags')" />
        <ul v-if="item.key === 'specific'">
          <li v-for="_item in item.value" :key="_item.key">
            <a @click="deleteSpecific(_item)">{{tr('delete')}}</a>
            <input type="text" v-model="_item.key" :placeholder="tr('Key Name')" />
            <input type="text" v-model="_item.search" :placeholder="tr('Regular Expression')" />
            <input type="text" v-model="_item.flags" :placeholder="tr('Flags')" />
            <label>
              <input type="checkbox" v-model="_item.keepSearch" />
              {{tr('Keep the Search expression in value')}}
            </label>
          </li>
          <li class="new-specific">
            <a @click="addSpecificItem">{{tr('Add Item')}}</a>
            <input type="text" v-model="newitem.key" :placeholder="tr('Key Name')" />
            <input type="text" v-model="newitem.search" :placeholder="tr('Regular Expression')" />
            <input type="text" v-model="newitem.flags" :placeholder="tr('Flags')" />
            <label>
              <input type="checkbox" v-model="newitem.keepSearch" />
              {{tr('Keep the Search expression in value')}}
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script>
import droppableRegion from '../mixins/droppable-region.vue'
import translate from '../mixins/translate.vue'
import download from 'downloadjs'
export default {
  mixins: [
    droppableRegion,
    translate
  ],
  props: {
    value: {required: true},
    selectedConfigName: {required: true}
  },
  data () {
    return {
      showEdit: false,
      newitem: {}
    }
  },
  computed: {
    selectedConfig () {
      return this.value.find((itm) => itm.name === this.selectedConfigName) || {}
    },
    allSettings () {
      var opts = {
        'item-separator': this.tr('Block Separator'),
        'item-separator-flags': '',
        'pairs-separator': this.tr('Pairs Separator'),
        'pairs-separator-flags': '',
        'pair-separator': this.tr('Key Value Separator'),
        'pair-separator-flags': '',
        'unparsable': this.tr('Unparsable'),
        'specific': this.tr('Specific')
      }
      var allOpts = []
      for (var i in opts) {
        if (i.indexOf('-flags') === -1 && opts[i].length > 0) {
          if (typeof opts[i + '-flags'] !== 'undefined' && typeof this.selectedConfig === 'undefined') {
            this.$set(this.selectedConfig, i + '-flags', '')
          }
          allOpts.push({
            'name': opts[i],
            'key': i,
            'isregex': typeof opts[i + '-flags'] !== 'undefined',
            'value': i === 'specific' ? this.selectedConfig[i] : i,
            'flags': i + '-flags'
          })
        }
      }
      return allOpts
    }
  },
  methods: {
    filesDropped (e) {
      for (let i = 0; i < e.dataTransfer.files.length; i++) {
        let reader = new FileReader()
        reader.addEventListener('load', (e) => {
          var data = JSON.parse(reader.result)
          if (data['item-separator'] && data['name'] && data['unparsable']) {
            this.value.push(data)
          }
        })
        reader.readAsText(e.dataTransfer.files[i])
      }
    },
    deleteSpecific (_item) {
      var ind = this.value.indexOf(this.selectedConfig)
      if (typeof this.value[ind].specific === 'undefined') {
        this.$set(this.value[ind], 'specific', [])
      }
      this.value[ind].specific.splice(this.value[ind].specific.indexOf(_item), 1)
    },
    addSpecificItem () {
      if (this.newitem.key.length === 0 || this.newitem.search.length === 0) {
        return
      }
      var ind = this.value.indexOf(this.selectedConfig)
      if (typeof this.value[ind].specific === 'undefined') {
        this.$set(this.value[ind], 'specific', [])
      }
      this.value[ind].specific.push(this.newitem)
      this.newitem = {}
    },
    exportData (item) {
      var obj = Object.assign({}, item)
      download(JSON.stringify(obj, null, 2), item.name.replace(/[^a-zA-Z0-9]+/g, '-') + '.parser.json', 'text/json')
    },
    toggleEdit (name) {
      this.showEdit = !this.showEdit
      this.$nextTick(() => {
        this.$refs['itemname_' + name][0].focus()
      })
    },
    remove (item) {
      this.$emit('setSelectedConfig', 'default')
      var ind = this.value.indexOf(item)
      this.$delete(this.value, ind)
    },
    duplicate (oldItem) {
      var newName = oldItem.name + ' clone'
      var newitem = Object.assign({}, oldItem)
      newitem.name = newName
      this.value.push(newitem)
      this.$emit('setSelectedConfig', newName)
    },
    configNameChanged (oldItem) {
      var newName = this.$refs['itemname_' + oldItem.name][0].value
      this.showEdit = false
      if (oldItem.name === newName) {
        return
      }
      oldItem.name = newName
      if (this.selectedConfig === oldItem.name) {
        this.$emit('setSelectedConfig', newName)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
div.editor-container {
  a {
    cursor: pointer;
    &.contents-toggle {
      position: fixed;
      right: 5px;
      top: calc(5px + 1.2em)
    }
  }
  &.showDroppable {
    background: rgba(0, 0, 255, 0.1);
    border: 3px solid rgba(0, 0, 255, 0.5);
  }
  &.dragIsOver {
    background: rgba(0, 0, 255, 0.2);
    border: 3px solid rgba(0, 0, 0, 0.0);
  }
  transition: background .3s, border .3s;
  border: 3px solid rgba(0, 0, 0, 0.0);
  display: flex;
  >ul.selectable-items {
    width: 10%;
    min-width: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    >li {
      >span {
        padding: 5px 10px;
        display: block;
        >a {
          cursor: pointer;
        }
      }
      >input {
        display: none;
      }
      &.edit {
        >span {
          display: none;
        }
        >input {
          display: initial;
        }
      }
      &.selected-config {
        background: rgba(0, 0, 0, 0.15);
      }
      @media (prefers-color-scheme: dark) {
        &.selected-config {
            background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}
</style>
