<template>
  <div class="root">
    <ul class="header">
      <li :class="{'filters': true, 'button': true, 'selected': showConfig === 'filter'}" @click="showConfig = showConfig === 'filter' ?  null : 'filter'">
        {{tr('Filters')}}
      </li>
      <li :class="{'parser': true, 'button': true, 'selected': showConfig === 'parser'}" @click="showConfig = showConfig === 'parser' ?  null : 'parser'">
        {{tr('Parser')}}
      </li>
      <li :class="{'searchables': true, 'button': true, 'selected': showConfig === 'searchable'}" @click="showConfig = showConfig === 'searchable' ?  null : 'searchable'">
        {{tr('Keys')}}
      </li>
      <li>{{tr('Error Count: ')}}{{ errorCount }}</li>
      <li class="middle-big">
      </li>
      <li :class="{'toggle-marked': true, 'button': true, 'selected': showMarkedItems}" v-if="markedItems && Object.keys(markedItems).length > 0" @click="showMarkedItems = !showMarkedItems">
        {{tr('Toggle Items in list')}}
      </li>
      <li :class="{'clear-resolved': true, 'button': true}" v-if="markedItems && Object.keys(markedItems).length > 0" @click="showMarkedItemsLightbox = true">
        {{tr('Clear Resolved Items')}}
      </li>
    </ul>
    <div class="configurations" v-if="showConfig !== null">
      <configs-component v-if="showConfig === 'searchable'" v-model="availableConfigs" :selectedConfig="selectedConfig" @setSelectedConfig="setSelectedConfig" :allSearchables="allSearchables"></configs-component>
      <parser-configs-component v-if="showConfig === 'parser'" v-model="myParserConfigs" :selectedConfigName="myCurrentParserConfigName" @setSelectedConfig="setSelectedParserConfig"  />
      <filter-component v-if="showConfig === 'filter'" :searchables="allSearchables" :currentSearchables="searchables"  v-model="selectedFilter"></filter-component>
    </div>
    <ul class="log-items" :class="{'disable-transitions': disableTransitions}">
      <transition-group name="list">
        <group-component v-for="groupItem in view" :key="groupItem.grouping" :items="groupItem.items" :details="groupItem.details" :groupingKey="groupingKey" :config="currentConfig" @toggleRelated="toggleRelated" :markedItems="markedItems" :currentRelated="currentRelated" :allSearchables="allSearchables" :minMaxDates="minMaxDates" :errorCount="errorCount" :currentRelatedKeys="currentRelatedKeys" @mark-group="markGroup(groupItem)"></group-component>
      </transition-group>
    </ul>
    <modal v-if="showMarkedItemsLightbox" @close="markedItems = null; showMarkedItemsLightbox = false" @cancel="showMarkedItemsLightbox = false">
      <template slot="header">
        {{tr('Items marked as resolved')}}
      </template>
      <template slot="body">
        <ul v-if="Object.keys(markedItems).length > 0">
          <li v-for="item in Object.keys(markedItems)" :key="item">
            {{item}}
            <ul>
              <li v-for="str in markedItems[item]" :key="str">
                {{generateCleanString(str, item)}}
              </li>
            </ul>
          </li>
        </ul>
      </template>
      <template slot="save-button">
        {{tr('Clear marked items')}}
      </template>
      <template slot="footer">
        <button
            type="button"
            class="btn-green"
            @click="copyCleanErrors()"
            aria-label="Copy"
          >
          Copy
        </button>
      </template>
    </modal>
    <modal v-if="selectRelatedKey" @close="selectRelatedKey = null" @cancel="selectRelatedKey = null">
      <template slot="header">
        {{tr('Select the Related key')}}
      </template>
      <template slot="body">
        <ul class="select-related-items">
          <li v-for="(item, key) in selectRelatedKey" :key="key" @click="toggleRelated([item], key); selectRelatedKey = null">
            {{key}}: {{relatedKeyCount(item)}}
          </li>
        </ul>
      </template>
    </modal>
  </div>
</template>
<script>
import GroupComponent from './group-component.vue'
import FilterComponent from './filter-component.vue'
import ConfigsComponent from './configs-component.vue'
import ParserConfigComponent from './parser-configs-component.vue'
import storage from '../ext/storage.js'
import ModalComponent from './modal.vue'
import uniq from 'lodash.uniq'
import dateFormatFunctions from '../mixins/date-format-functions.vue'
import translate from '../mixins/translate.vue'
import toggleSlideUpDown from '../mixins/toggle-slide-up-down.vue'
export default {
  components: {
    'group-component': GroupComponent,
    'filter-component': FilterComponent,
    'configs-component': ConfigsComponent,
    'parser-configs-component': ParserConfigComponent,
    'modal': ModalComponent
  },
  mixins: [dateFormatFunctions, translate, toggleSlideUpDown],
  mounted () {
    // Shouldn't this be in data()?
    this.availableConfigs = storage.get('availableConfigs')
    if (!this.availableConfigs || typeof this.availableConfigs['default'] === 'undefined') {
      if (typeof this.availableConfigs !== 'object' || this.availableConfigs === null) {
        this.availableConfigs = {}
      }
      this.availableConfigs['default'] = this.calculateInitialConfig()
    }
    this.selectedConfig = storage.get('selectedConfig')
    if (typeof this.availableConfigs[this.selectedConfig] === 'undefined') {
      this.selectedConfig = 'default'
    }
    this.currentConfig = this.availableConfigs[this.selectedConfig]
    setTimeout(() => {
      this.disableTransitions = false
    }, 1000)
    this.relatedData = this.findRelatedItems(this.attachCompoundKeys(this.parsedData))
  },
  data () {
    var types = storage.get('allTypes')
    if (types === null) {
      types = {}
    }
    var searchables = storage.get('allSearchables') || []
    return {
      showConfig: null,
      myParserConfigs: [].concat(this.parserConfigs),
      myCurrentParserConfigName: this.currentParserConfigName,
      currentConfig: {},
      types: types,
      currentRelated: [],
      currentRelatedKeys: [],
      selectedConfig: null,
      showMarkedItemsLightbox: false,
      showMarkedItems: false,
      disableTransitions: true,
      availableConfigs: {},
      searchable: {},
      groupingKey: 'filename',
      selectedFilter: {'test': ''}, // For some reason, the object needs to have an item so it does update correctly
      allSearchables: searchables.map(item => {
        if (typeof types[item.key] === 'object') {
          for (var key in types[item.key]) {
            if (['key', 'items', 'maxLength'].indexOf(key) === -1) {
              item[key] = types[item.key][key]
            }
          }
        }
        return item
      }),
      selectRelatedKey: null,
      markedItems: null,
      _groupId: 0,
      relatedData: []
    }
  },
  watch: {
    allSearchables: {
      handler: function (val) {
        var keys = []
        val.forEach(v => {
          if (typeof v.type === 'string') {
            var obj = {}
            for (var key in v) {
              if (['key', 'items', 'maxLength'].indexOf(key) === -1) {
                obj[key] = v[key]
              }
            }
            this.types[v.key] = obj
          } else if (typeof this.types[v.key] === 'object') {
            keys.push(v.key)
          }
        })
        // Only when we are removing just one key!
        if (keys.length === 1) {
          keys.forEach(key => delete this.types[key])
        }
        storage.set('allTypes', this.types)
        storage.set('allSearchables', val)
      },
      deep: true
    },
    availableConfigs: {
      handler: (myVal) => {
        let val = Object.assign({}, myVal)
        if (!val || typeof val['default'] === 'undefined') {
          if (typeof val !== 'object' || val === null) {
            val = {}
          }
          val['default'] = this.calculateInitialConfig()
        }
        storage.set('availableConfigs', val)
        if (this.currentConfig && this.currentConfig['group-keys'][0]) {
          this.groupingKey = this.currentConfig['group-keys'][0]
        }
      },
      deep: true
    },
    selectedConfig (val) {
      storage.set('selectedConfig', val)
      if (this.currentConfig && this.currentConfig['group-keys'][0]) {
        this.groupingKey = this.currentConfig['group-keys'][0]
      }
    },
    markedItems () {
      if (this.markedItems && Object.keys(this.markedItems).length > 0) {
        window.onbeforeunload = (e) => {
          e.preventDefault()
          // Chrome requires returnValue to be set
          e.returnValue = ''
        }
      } else {
        window.onbeforeunload = null
      }
    },
    myParserConfigs: {
      handler: function (val) {
        this.$nextTick(() => {
          this.updateParserConfigs()
        })
      },
      deep: true
    }
  },
  props: {
    options: {required: true},
    parserConfigs: {required: true},
    currentParserConfigName: {required: true},
    parsedData: {required: true}
  },
  computed: {
    errorCount () {
      return this.view.reduce((out, item) => out + item.items.length, 0)
    },
    currentParserConfig () {
      return this.myParserConfigs.find((cfg) => this.myCurrentParserConfigName === cfg.name)
    },
    minMaxDates () {
      var result = []
      this.allSearchables.forEach(element => {
        if (element.type === 'date' && element.displayChart) {
          var dates = this.parsedData.map(item => this.dateFromString(item[element.key], element.dateFormat))
          result.push({key: element.key, min: new Date(Math.min(...dates)), max: new Date(Math.max(...dates))})
        }
      })
      return result
    },
    view () {
      // eslint-disable-next-line no-unused-expressions
      this.groupingKey
      // eslint-disable-next-line no-unused-expressions
      this.markedItems
      // eslint-disable-next-line no-unused-expressions
      this.selectedFilter
      return this.groupItems(this.relatedData.filter(this.filterItems)).map((group) => {
        group.items.forEach(element => {
          for (var i in element) {
            if (i === '__key__' || i === '__parsed__') {
              continue
            }
            if (typeof group.details.searchables[i] === 'undefined') {
              group.details.searchables[i] = {}
            }
            if (typeof group.details.searchables[i][element[i]] === 'undefined') {
              group.details.searchables[i][element[i]] = 0
            }
            group.details.searchables[i][element[i]]++
          }
        })
        return group
      }).sort(function (a, b) {
        return a.items.length - b.items.length
      }).reverse()
    },
    searchables () {
      var searchables = {}
      this.view.forEach((group) => {
        for (var i in group.details.searchables) {
          if (typeof searchables[i] === 'undefined') {
            searchables[i] = []
          }
          searchables[i] = uniq(searchables[i].concat(Object.keys(group.details.searchables[i])))
        }
      })
      for (var i in searchables) {
        searchables[i].sort()
      }
      if (Object.keys(this.selectedFilter).filter((itm) => !!this.selectedFilter[itm]).length === 0 && searchables !== {}) {
        if (typeof this.allSearchables !== 'object' || this.allSearchables === null) {
          this.allSearchables = []
        }
        let keys = this.allSearchables.map(itm => itm.key)
        for (var j in searchables) {
          if (keys.indexOf(j) === -1) {
            this.allSearchables.push({'key': j, maxLength: searchables[j][0].length, 'items': searchables[j]})
          }
        }
        if (this.relatedData.length > 0) {
          this.allSearchables = this.allSearchables.map((item, key) => {
            if (!searchables[item.key]) {
              return null
            }
            item.items = item.items.filter(str => searchables[item.key].indexOf(str) !== -1)
            return item
          }).filter(item => item && item.items.length > 0)
        }
      }
      return searchables
    }
  },
  methods: {
    copyCleanErrors () {
      let str = Object.keys(this.markedItems).map((key) => {
        return this.markedItems[key].map((item) => {
          return this.generateCleanString(item, key)
        }).join('\n')
      }).join('\n')
      navigator.clipboard.writeText(str)
    },
    relatedKeyCount (item) {
      return Object.values(item).map(itm => itm.__key__ + '|' + itm.index).reduce((o, itm) => {
        if (typeof o.push !== 'function') {
          o = []
        }
        if (o.indexOf(itm) === -1) {
          o.push(itm)
        }
        return o
      }).length
    },
    updateParserConfigs () {
      window.updateParserConfigs(this.myParserConfigs, this.myCurrentParserConfigName)
      storage.set('currentParserConfig', this.myCurrentParserConfigName)
    },
    generateCleanString (string, key) {
      if (typeof string === 'string') {
        string = [string]
      } else if (typeof string === 'object' && string) {
        string = Object.values(string).map(val => Object.keys(val)[0])
      }
      var clearScriptPath = this.options ? this.options.clear_script_path : undefined
      var clearScriptInclude = this.options ? this.options.clear_script_include : undefined
      if (typeof clearScriptPath === 'undefined') {
        clearScriptPath = '/bin/nest/clean_errors.php'
      }
      if (typeof clearScriptInclude === 'undefined') {
        clearScriptInclude = '--include='
      }
      return clearScriptPath + ' "' + window.location.pathname.replace(/^\//, '').replace(/(["\s$`\\])/g, '\\$1') + '" "' + string.map(str => {
        if (str.indexOf('\n') !== -1) {
          str = str.substring(0, str.indexOf('\n'))
        }
        return str.replace(/(["$`\\])/g, '\\$1')
      }).join('" ' + clearScriptInclude + '"') + '"'
    },
    markGroup (groupItem) {
      var k = this.groupingKey.key || this.groupingKey
      if (this.markedItems === null) {
        this.markedItems = {}
      }
      if (typeof this.markedItems[k] === 'undefined') {
        this.$set(this.markedItems, k, [])
      }
      var val = Object.keys(groupItem.details.searchables[this.groupingKey.key || this.groupingKey])[0]
      if (this.groupingKey.key) {
        val = {}
        this.groupingKey.keys.forEach((key) => {
          val[key] = groupItem.details.searchables[key]
        })
      }
      this.markedItems[k].push(val)
    },
    toggleRelated (related, key) {
      // We should decide whether to show a dialog (choose which related key) or to filter straight away
      if (Object.keys(related).length > 1) {
        // We have to show the dialog
        this.selectRelatedKey = related
      } else {
        var keys = Object.keys(related)
        if (related[keys[0]] === this.currentRelated) {
          this.currentRelated = []
        } else {
          this.currentRelated = related[keys[0]]
          this.currentRelatedKeys = this.allSearchables.filter((item) => {
            let k = key || keys[0]
            return (item.key === k) || item.identifierKey === k
          })
        }
      }
    },
    attachCompoundKeys (items) {
      const compoundKeys = Object.keys(this.currentConfig).map(key => this.currentConfig[key].filter(itm => typeof itm === 'object')).reduce((last, cur) => {
        if (!last) {
          last = []
        }
        return last.concat(cur)
      }, []).sort((a, b) => {
        return b.keys.indexOf(a.key) !== -1 ? -1 : 0
      })
      if (compoundKeys.length > 0) {
        return items.map(item => {
          compoundKeys.forEach(key => {
            var val = key.keys.map(_key => item[_key]).join(' ')
            if (key.regexp) {
              try {
                let reg = new RegExp(key.regexp, key.regexpFlags)
                val = val.replace(reg, key.regexpTo)
              } catch (e) {
                console.debug('Failed regular expression', e)
              }
            }
            if (key.replacements) {
              val = key.replacements.reduce((val, item) => {
                try {
                  let reg = new RegExp(item.regexp, item.regexpFlags)
                  return val.replace(reg, item.regexpTo)
                } catch (e) {
                  console.debug('Failed regular expression', e)
                  return val
                }
              }, val)
              try {
                let reg = new RegExp(key.regexp, key.regexpFlags)
                val = val.replace(reg, key.regexpTo)
              } catch (e) {
                console.debug('Failed regular expression', e)
              }
            }
            item[key.key] = val
          })
          return item
        })
      }
      return items
    },
    findRelatedItems (items) {
      if (typeof this.allSearchables === 'undefined' || this.allSearchables === null || this.allSearchables.length === 0) {
        return items
      }
      var identifierKey = this.allSearchables.filter((config) => config.type === 'request_identifier')
      var errorNumber = {}
      this.allSearchables.filter((config) => config.type === 'request_error_number').forEach((item) => {
        errorNumber[item.identifierKey] = item
      })
      for (var k in identifierKey) {
        var theKey = identifierKey[k]
        var idkey = theKey.key
        var foundIds = {}
        for (var i in items) {
          var idToFind = items[i][idkey]
          if (!idToFind || idToFind.length === 0) {
            continue
          }
          if (typeof errorNumber[idkey] === 'undefined') {
            if (typeof foundIds[idkey] === 'undefined') {
              foundIds[idkey] = {}
            }
            if (typeof foundIds[idkey][idToFind] === 'undefined') {
              foundIds[idkey][idToFind] = []
            }
            foundIds[idkey][idToFind].push({'__key__': items[i]['__key__'], 'index': i})
          } else if (typeof items[i][errorNumber[idkey].key] !== 'undefined' && items[i][errorNumber[idkey].key] > 1) {
            // We have the number > 1
            for (var j = i - 1; j >= 0; j--) {
              if (items[j][idkey] === idToFind) {
                if (items[i]['__parsed__'] && items[i]['__parsed__']['related'][idkey]) {
                  continue
                }
                // add myself to the array (to all of them) (using reference?)
                if (typeof items[j]['__parsed__'] === 'undefined') {
                  items[j]['__parsed__'] = {'related': {}}
                }
                if (typeof items[i]['__parsed__'] === 'undefined') {
                  items[i]['__parsed__'] = {'related': {}}
                }
                if (typeof items[j]['__parsed__']['related'][idkey] === 'undefined') {
                  items[j]['__parsed__']['related'][idkey] = [{'__key__': items[j]['__key__'], 'index': j}, {'__key__': items[i]['__key__'], 'index': i}]
                } else {
                  if (!items[j]['__parsed__']['related'][idkey].find((itm) => itm.__key__ === items[i]['__key__'] && itm.index === i)) {
                    items[j]['__parsed__']['related'][idkey].push({'__key__': items[i]['__key__'], 'index': i})
                  }
                }
                items[i]['__parsed__']['related'][idkey] = items[j]['__parsed__']['related'][idkey]
                break
              }
            }
          }
        }
        if (Object.keys(foundIds).length > 0) {
          // console.warn('We are not updating the items correctly :-/')
          for (var l in foundIds) {
            for (var m in foundIds[l]) {
              if (foundIds[l][m].length > 1) {
                // There are some with same ID (without errorNumber)
                foundIds[l][m].map((item) => item.index).forEach((index) => {
                  if (typeof items[index]['__parsed__'] === 'undefined') {
                    items[index]['__parsed__'] = {'related': {}}
                  }
                  items[index]['__parsed__']['related'][l] = foundIds[l][m]
                })
              }
            }
          }
        }
      }
      return items
    },
    appendData (data) {
      // This still does not update the view corrently :-(, the user must change filter
      // TODO: This will not work with the current related items, as they are not calculated
      this.attachCompoundKeys(data).forEach(item => {
        this.relatedData.push(item)
      })
      this.$set(this.selectedFilter, 'test', '')
    },
    groupItems (data) {
      var groups = {}
      for (var i in data) {
        var item = data[i]
        var grid = this._groupId++
        var grouping = this.grouping(item)
        if (grouping) {
          grouping = grouping.replace(/(^\s+|\s+$)/g, '')
        }
        if (!grouping || grouping.length === 0) {
          grouping = '-- empty --'
        }
        if (typeof groups[grouping] === 'undefined') {
          if (typeof this._groupId === 'undefined') {
            this._groupId = 0
          }
          groups[grouping] = {'details': {'searchables': {}}, 'grouping': grouping, 'items': [], '__key__': grid}
        }
        groups[grouping].items.push(item)
      }
      return Object.values(groups)
    },
    grouping (item) {
      return item[this.groupingKey.key || this.groupingKey]
    },
    filterItems (item) {
      // eslint-disable-next-line no-unused-expressions
      this.markedItems
      // eslint-disable-next-line no-unused-expressions
      this.selectedFilter
      if (!this.showMarkedItems && this.markedItems) {
        for (var j in this.markedItems) {
          if (typeof this.markedItems[j][0] === 'object') {
            if (this.markedItems[j].find((marked) => {
              var keys = Object.keys(marked)
              return keys.filter((key) => {
                return typeof marked !== 'undefined' && typeof marked[key] !== 'undefined' && typeof marked[key][item[key]] === 'number'
              }).length === keys.length
            })) {
              return false
            }
          } else if (typeof item[j] === 'string' && this.markedItems[j].indexOf(item[j]) !== -1) {
            return false
          }
        }
      }
      if (Object.values(this.selectedFilter).filter((itm) => !!itm).length === 0) {
        return true
      }
      const fn = (filterString, item) => {
        let not = false
        if (!!filterString && filterString.indexOf('!') === 0) {
          filterString = filterString.substring(1)
          not = true
        }
        if ((!!filterString && typeof item === 'string' && ((!not && item.indexOf(filterString) === -1) || (not && item.indexOf(filterString) !== -1)))) {
          return false
        } else if (typeof item === 'undefined' && filterString !== undefined && ((!not && filterString.length > 0) || (not && filterString.length === 0))) {
          return false
        }
        return true
      }
      for (var i in this.selectedFilter) {
        let filterString = this.selectedFilter[i]
        if (Array.isArray(filterString)) {
          if (filterString.length > 0 && !filterString.map((str) => {
            if (!fn(str, item[i])) {
              return false
            }
            return true
          }).reduce((res, item) => {
            return res || item
          })) {
            return false
          }
        } else {
          if (!fn(filterString, item[i])) {
            return false
          }
        }
      }
      return true
    },
    calculateInitialConfig () {
      var rawSearchables = {}
      this.view.map((group) => group.details.searchables).forEach((searchables) => {
        for (var i in searchables) {
          if (typeof rawSearchables[i] === 'undefined') {
            rawSearchables[i] = {}
          }
          Object.keys(searchables[i]).forEach(key => {
            if (typeof rawSearchables[i][key] === 'undefined') {
              rawSearchables[i][key] = 0
            }
            rawSearchables[i][key]++
          })
        }
      })
      // Now we need to make sense of the data, set what should be in the group row, and what in the item row
      var res = {'group-keys': [], 'item-keys': [], 'detail-keys': []}
      var counts = {}
      Object.keys(rawSearchables).map((item) => {
        counts[item] = Object.values(rawSearchables[item]).reduce((prev, cur) => {
          return prev + cur
        })
      })
      const keys = Object.keys(rawSearchables)
      var availableKeys = []
      keys.map((key) => {
        if ((this.groupingKey.key && this.groupingKey.key === key) || key === this.groupingKey) {
          res['group-keys'].unshift(key)
        } else {
          var arr = Object.keys(rawSearchables[key])
          arr.sort(function (a, b) { return b.length - a.length })
          if (arr[0].length > 50) {
            // We want to ignore too long items in the headers
          } else {
            var obj = {key: key, filteredKeys: Object.keys(rawSearchables[key]).length, allKeys: counts[key]}
            obj.percentage = obj.filteredKeys / obj.allKeys
            availableKeys.push(obj)
          }
        }
      })
      availableKeys.sort((a, b) => a.percentage - b.percentage)
      availableKeys.forEach((item) => {
        if (res['group-keys'].length < Math.min(availableKeys.length, 10) / 2) {
          res['group-keys'].push(item.key)
        } else {
          res['item-keys'].push(item.key)
        }
      })
      res['detail-keys'] = keys.filter((key) => {
        return availableKeys.map((i) => i.key).filter((i) => i === key).length === 0
      })
      return res
    },
    setSelectedConfig (newConfig) {
      if (newConfig === 'default' && this.availableConfigs[newConfig] === undefined) {
        this.availableConfigs[newConfig] = this.calculateInitialConfig()
      }
      this.selectedConfig = newConfig
      this.currentConfig = this.availableConfigs[this.selectedConfig]
    },
    setSelectedParserConfig (newConfig) {
      this.myCurrentParserConfigName = newConfig
      this.updateParserConfigs()
    }
  }
}
</script>
<style lang="scss" scoped>
  div.root {
    .configurations>*, .log-items {
      padding: 15px;
    }
    .header {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid;
      >li {
        flex-grow: 0;
        min-width: 32px;
        padding: 5px 15px;
      }
      .button {
        cursor: pointer;
        transition: all .3s;
        &.selected {
          background: rgba(0, 0, 0, 0.15);
        }
        @media (prefers-color-scheme: dark) {
          &.selected {
              background: rgba(255, 255, 255, 0.15);
          }
        }
      }
      .middle-big {
        flex-grow: 10;
      }
    }
    .configurations {
      >* {
        border-bottom: 1px solid;
      }
    }
    .configurations:empty {
      border-bottom: 0px solid;
    }
    font-family: sans-serif;
    >ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
  }
  ul.select-related-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      cursor: pointer;
    }
  }
  div.resolved-items-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: white;
    padding: 5px;
    text-align: right;
    a {
      cursor: pointer;
    }
  }
  .disable-transitions>span, .disable-transitions>span>li {
    transition: none !important;
  }
  .list-enter-active, .list-leave-active {
    transition: all .3s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(30px);
  }
</style>
